.card-soal {
  width: 870px;
  height: 500px;
}

.bulat {
  border-radius: 100%
}

.option {
  display: block;
  width: 30px;
  padding: 2px;
}

.answer {
  background-color: #7D3FE6;
  color: #fff;
}