.card-soal {
  width: 870px;
  height: 500px;
}

.bulat {
  border-radius: 100%
}

.options {
  width: 344px;
  height: 500px;
  padding: 2px;
  background-color: #red;
}

.answered {
  background-color: #7D3FE6;
  color: #fff;
}